.photo-grid__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    gap: 12px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
  }
}
