.places {
  max-width: 984px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
  }
}
