.lang__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
}

@media screen and (max-width: 767px) {
  .lang__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
