.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px 25px;
  }
}
