.cover {
  margin: 92px auto;
  max-width: 1184px;
  position: relative;
  padding-bottom: 740px;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/cover.png);
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    padding-bottom: 62.5%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 89px auto;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 65px auto;
  }
}
