.cover__content {
  margin: auto;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__content {
    max-width: 288px;
    row-gap: 16px;
  }
}
