.intro__title {
  margin: 0;
  max-width: 690px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
  }
}
